* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* font-weight: "Nunito", sans-serif; */
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #333333;
  height: 100vh;
  font-family: "Proxima Nova", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #128c76;
}
section {
  width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  background-color: #fbeee6;
}
.radial {
  display: flex;
  gap: 25px;
  padding: 10px;
}
.radial li {
  font-size: 15px;
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 90px;
  /* height: 37px; */
  object-fit: cover;
}

.navbar a select {
  font-family: Josefin Sans;
  font-size: 1.7rem;
  line-height: 24px;
  letter-spacing: 0em;
  color: #333333;
  gap: 4px;
}
.lien-sous {
  width: 100%;
  display: none;
}
.lien-sous p {
  font-size: 16px;
  color: rgb(75 85 99);
  opacity: 1;
}
nav li:hover .lien-sous {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 27rem;
  position: absolute;
  top: 11rem;
  left: 0;
  padding: 20px;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  height: 140px;
}

.lien-sous .black {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 0px 0px 24px;
}
.sous2 {
  /* max-width: 350px; */
  display: flex;
  gap: 7rem;
}

.navbar {
  width: 100%;
  padding: 1rem 4%;
  box-shadow: 0px 4px 40px 0px #33333314;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  gap: 36px;
}
.navbar .lien {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.navbar a {
  font-size: 1.7rem;
  line-height: 24px;
  color: #333333;
  letter-spacing: 0em;
  transition: 0.3s;
}

.login a button {
  border-radius: 50px;
  font-family: Josefin Sans;
  line-height: 24px;
  width: 140px;
  padding: 9px;
  display: flex;
  justify-content: center;
  background-color: #ffad33;
  color: #fff;
  font-size: 1.7rem;
  line-height: 24px;
}
.register {
  border: 1px solid #f56b8d;
  color: #f56b8d;
}
.lien .active {
  color: #ffad33;
}
.navbar .lien a:hover {
  border-bottom: 3px solid #ffad33;
}

#menu-icon {
  font-size: 3.6rem;
  color: #333;
  display: none;
}

/* SECTION formation*/

#formation {
  padding: 20px;
  width: 100%;
  color: black;
}

/* .img-content {
  background-image: url(Img.png);
  width: 1920px;
  height: 780px;
} */

.formation .content {
  /* padding: 2rem 9%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px; */
}

.img-formation img {
  width: 118%;
  float: right;
  object-fit: cover;
  margin-top: 7rem;
}

.mask-content {
  /* text-align: center; */
  /* bottom: 0; */
  /* margin-top: 20rem; */
  margin-left: 10rem;
  /* width: 770px; */
  /* height: 374px; */
  /* top: 202px; */
  /* left: 375px; */
  /* gap: 40px; */
  max-width: 770px;
}

.mask-testh1 {
  font-family: Josefin Sans;
  font-size: 38px;
  max-width: 770px;
  /* font-weight: 700; */
  /* line-height: 80px; */
  /* letter-spacing: 0em; */
  /* text-align: left; */
  color: black;
  /* width: 770px;
  height: 160px; */
}

span {
  color: #f7756b;
}

.mask-testp {
  font-family: Josefin Sans;
  font-size: 17px;
  font-weight: 400;
  /* line-height: 32px; */
  letter-spacing: 0em;
  /* text-align: left; */
  color: black;
  margin-top: 2rem;
  /* width: 470px; */
  /* height: 64px; */
}

.btn-mask button {
  width: 240px;
  padding: 15px;
  /* height: 40px; */
  font-size: 12px;
  margin-top: 6rem;
  /* padding: 24px, 40px, 22px, 40px; */
  background-color: #ffad33;
  margin-right: 59rem;
  color: #ffffff;
  border-radius: 20px;
}

/* Compentence */
#competence {
  width: 100%;
  height: 500px;
  background-color: #f9fafb;
  position: relative;
  top: -7rem;
  /* z-index: -1; */
}

.bnt-comp button {
  margin-top: 1rem;
  color: #ffffff;
  background: linear-gradient(to right, #e2493c, #0b9284);
  width: 250px;
  padding: 7px;
  border-radius: 50px;
}

.bnt-comp {
  text-align: center;
}

.heading-comp h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 2.25rem;
  color: black;
  margin-top: 20px;
}

.heading-comp p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  color: #4b5563;
}

.card-comp {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
#horizontal {
  font-size: 7rem;
  color: black;
}
.card {
  padding: 35px;
  background-color: white;
  width: 35%;
  border-radius: 10px;
  height: 100%;
}

.card h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(0 0 0);
  margin: 20px;
}

.card p {
  font-size: 1.8rem;
  color: rgb(75, 85, 99);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
  text-align: justify;
  opacity: 1;
}

.card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* temoignage */
.temoignage {
  width: 100%;
  height: 200px;
  background-color: white;
  /* margin-top: 6rem; */
}

.heading-tem {
  text-align: center;
  font-size: 2rem;
  /* margin-top: 2rem; */
}

.cardTem {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card-tem {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 6rem;
  width: 21%;
  height: 100px;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 1s ease-out forwards;
}

.card-box {
  display: flex;
  flex: 0 0 100;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* transform: translateY(-0px); */
}
.card-tem.card-1 {
  animation-delay: 0.2s;
}
.card-tem.card-2 {
  animation-delay: 0.4s;
}
.card-tem.card-3 {
  animation-delay: 0.6s;
}
.card-tem.card-4 {
  animation-delay: 0.8s;
}
@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.size-6 {
  overflow: hidden;
  color: #ffad33;
  margin-top: 1.2rem;
}
.card-t {
  margin-top: 1.2rem;
}
.card-t h2 {
  font-size: 2rem;
}

.card-t p {
  margin-top: 0.5rem;
  font-size: 16px;
  font-style: 400;
  color: rgb(107, 114, 128);
  line-height: 24px;
}

/* Entreprise */

.entreprise {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
}

.heading-ent h1 {
  margin-top: 5rem;
  padding: 7rem;
  text-align: center;
  font-size: 3rem;
}

/* Cours */
.cours{
  width: 100%;
  height: 700px;
  background-color: #f3f4f6;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  gap: 2rem;
}
.cours h1 {
 padding: 80px;
  text-align: center;
  font-size: 4rem;
}

 .invertor-card1 {
  transition: 0.5s ease;
  background-color: white;
  border: 0.2rem var(--bg-color);
  border-radius: 10px;
  width: 50%;
  height: 340px;
  position: relative;
}

.card-container .invertor-card1:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 4px 0px gray; 
}

.img-card {
  width: 100%;
  height: 270px;
object-fit: cover;
border-radius: 10px;
 
}

.text {
  width: 100%;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 13rem;
}

.card-text h2 {
  color:rgb(0, 0, 0);
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px
}

.card-text p {
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #ffad33;
}

.card-text2 p{
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.loc {
  display: flex;
}
.loc p {
  font-size: 2rem;
}

#loc {
  font-size: 2.5rem;
  color: #ffad33;
}
.btn-cours a{
  margin-top: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffad33;
  color: #fff;
  max-width: 13%;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}

/* nos-bakeliste */
.nos-bakeliste{
  width: 100%;
}
.heading-bakeliste {
 
  padding: 70px;
text-align: center;
font-weight: 700;
line-height: 20px;
color: rgb(15,23,42);
font-size: 20px;
font-family: Outfit, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.card-baleliste {
  margin: 40px;
  width: 30%;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid;
}
.text-beliste p{
  padding: 25px;
  color:rgb(15, 23, 42);
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
.txt-flex .flex1{
  width: 100%;
  display: flex;
  margin: 25px;
  /* margin: auto; */
  justify-content: space-between;
  /* align-items: center; */
}
.txt-flex h3{
  font-weight: 400;
  /* line-height: 24px; */
  font-size: 16px;
  color: rgb(0, 0, 0);

}
/* enventure */

.url-image {
  background-color: #d1093a;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.url-image h2 {
  padding: 7rem;
  color: white;
  height: 200px;
  width: 100%;
  font-size: 2rem;
}

.btn-aven {
  margin-top: 8rem;
}

/* FOOTER */

.fonter-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 2rem;
  /* margin-top: 10rem; */
  padding: 13rem;
  background: white;
}

.next h2 {
  width: 370px;
  height: 24px;
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
  /* margin-top: 8rem; */
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 19rem;
}

.social-media a {
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  color: white;
  background-color: #21243d;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
  text-decoration: none;
  border-radius: 50px;
}

.social-media a:hover {
  background: #ffad33;
  /* color: var(--second-bg-color); */
  /* box-shadow: 0 0 1rem var(--main-color); */
}

.next p {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3px;
  text-align: left;
  width: 370px;
  height: 15px;
  margin-top: 3rem;
  color: gray;
}

.service h2 {
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;

  width: 270px;
  height: 34px;
  color: gray;
}

.bot {
  margin-bottom: 16rem;
  margin-left: 9rem;
}

.service p {
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 270px;
  height: 54px;
  color: gray;
}

.about-footer h2 {
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;

  width: 270px;
  height: 54px;
  color: gray;
}

.about-footer p {
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  width: 270px;
  height: 54px;
  color: gray;
}

.about-footer h3 {
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  width: 270px;
  height: 54px;
  color: gray;
  margin-top: 2rem;
}

.about-footer h4 {
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  width: 270px;
  height: 24px;
  color: gray;
  margin-top: 3rem;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    /* padding: 10rem 3% 2rem; */
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 991px) {
  /* .header {
    padding: 2rem 3%;
  }

  .navbar ul {
    display: flex;
  } */
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    justify-content: end;
  }

  .navbar .logo {
    display: none;
  }

  .navbar .lien {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .login a button {
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: #333;
  }

  .fonter-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
